<app-header></app-header>

<div class="container1">
            <div class="col-md-6 d-flex align-items-start">
            <img src="./assets/img/tunisia.svg" class="mr-3 wow fadeInLeft" data-wow-delay="0.2s">
                <address>
                <strong>El Manar 2</strong><br>
                2, Avenue Du Roi Abdelaziz El Saoud <br>
            2092 El Manar 2 - Tunis
                <br><br>

                <strong>Menzah 6</strong><br>
                13, Rue Rue Emna Ibnet Waheb <br>
                2091 Menzah 6 - Ariana
                <br><br>

                <abbr><strong>Tél:</strong></abbr> <a href="tel:+21671100100" title="Cliquez ici pour appeler le (+216) 71 100 100">(+216) 71 100 100</a> <br>
                <abbr><strong>Fax:</strong></abbr> <a href="tel:+21671020239" title="Cliquez ici pour appeler le (+216) 71 020 239">(+216) 70 020 239</a><br>
                <abbr><strong>Email:</strong></abbr>   <a href="mailto:commercial@comunikmail.com">commercial@comunikmail.com</a>
                </address>
        </div>
        <div class="col-md-6 d-flex align-items-start wow fadeInUp" data-wow-delay="0.4s">
            <img src="./assets/img/france.svg" class="mr-3 wow fadeInLeft" data-wow-delay="0.2s">
            <address>
                <strong>FRANCE</strong><br>
                18, Rue St-Vincent<br> 78100 St Germain-en-laye  
                <br><br>
                <abbr><strong>Tél: </strong></abbr><a href="tel:+33189498949" title="Cliquez ici pour appeler le (+33) 1 89 49 89 49">(+33) 1 89 49 89 49</a><br>
            <abbr><strong>Email:</strong></abbr> <a href="mailto:commercial@comunikmail.com">commercial@comunikmail.com</a>
                
                </address>
        </div>
        <div class="col-md-12 d-flex align-items-start wow fadeInUp" data-wow-delay="0.4s">
            <img src="./assets/img/maroc.svg" class="mr-3 wow fadeInLeft" data-wow-delay="0.2s">
            <address>
                <strong>MAROC</strong><br>
                
                <abbr><strong>Tél: </strong></abbr><a href="tel:+212520999888" title="Cliquez ici pour appeler le (+212) 5 20 999 888">(+212) 5 20 999 888</a><br>
                
            <abbr><strong>Email:</strong></abbr> <a href="mailto:commercial.maroc@comunikmail.com">commercial.maroc@comunikmail.com</a>
                
                </address>
        </div>
        <div class="d-flex align-items-start mt-3 wow fadeInUp" data-wow-delay="0.6s">
            <img src="./assets/img/support.svg" class="mr-3" width="32px wow fadeInLeft" data-wow-delay="0.2s">
            <address>
                <strong>Support technique</strong><br>
                <abbr><strong>Tél: </strong></abbr><a href="tel:+33189498949" class="Cliquez ici pour appeler le (+33) 1 89 49 89 49">(+33) 1 89 49 89 49</a><br>
            <abbr><strong>Email:</strong></abbr> <a href="mailto:support.comunik@comunikmail.com">support.comunik@comunikmail.com</a> 
                
            </address>
        </div>
</div>