
<app-header-admin></app-header-admin>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
     
       
        <th scope="col">mot de passe</th>
        <th scope="col">Changer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tabAdmin ; let index=index ">
        <th scope="row">{{item._id}}</th>
        <td>{{item.nom}}</td>
       
        <td>{{item.motPass}}</td>
        <td>
            <button type="button" class="btn btn-danger" (click)="deleteClient(item)">Supprimer</button>
            
        </td>
      </tr>
      
    </tbody>
  </table>