<app-header></app-header>

    <form  #form="ngForm" (submit)="onSubmit(form)">
      <div class="form-group">
        <label for="exampleFormControlInput1">quantité </label>
        <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="commande.qteC" [ngModelOptions]="{standalone: true}" >
      </div>
      <!--
      <div class="form-group">
          <label for="exampleFormControlInput1">Date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" [(ngModel)]="commande.dateC" [ngModelOptions]="{standalone: true}"  >
      </div>
      -->
     
      <button type="button" class="btn btn-primary" type="submit()">Commander</button>
    </form>






  
 


  